<div class="height-emulator"></div>
<footer>
    <div class="footer-inner">
        <div class="row">
            <div class="col-md-5">
                <a class="footer-logo ajax" href="/"><img src="<%= asset_path('logo.png') %>" alt="" style="width: 150px;"></a>
            </div>
            <div class="col-md-3">
                <div class="footer-adress">
                    <span>Hue, Vietnam</span>
                    <a href="https://www.google.com/maps/place/Tp.+Hu%E1%BA%BF,+Th%E1%BB%ABa+Thi%C3%AAn+Hu%E1%BA%BF,+Vi%E1%BB%87t+Nam/data=!4m2!3m1!1s0x3141a115e1a7935f:0xbf3b50af70b5c7b7?sa=X&ved=2ahUKEwjvt8v43IPyAhVDjuYKHSo2BGwQ8gEwHHoECEkQAQ" target="_blank">View on map</a>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="footer-contact">
                    <li>+84 96 211 02 92</li>
                    <li><a href="mailto:saanarchitects@gmail.com">saanarchitects@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-7">
                <p>
                  <a class="" href="https://www.facebook.com/Saanarchitect/"><i class="fab fa-facebook"></i> SAAN studio</a>
                </p>
            </div>
        </div>
    </div>
    <span class="footer-decor"></span>
</footer>
