<header>
    <div class="header-inner">
        <div class="logo-holder">
            <a href="index.html" class="ajax"><img src="<%= asset_path('logo.png') %>" alt=""></a>
        </div>
        <div class="nav-button-holder">
            <div class="nav-button vis-m"><span></span><span></span><span></span></div>
        </div>
        <div class="nav-holder">
            <nav>
                <ul>
                    <li><a href="/" class="<%= (action_name == 'index' && controller_name == 'home') ? 'act-link' : '' %>">Home</a></li>
                    <li><a href="/projects" class="<%= controller_name == 'projects' ? 'act-link' : '' %>">Projects</a></li>
                    <li><a href="about.html" class="pa">About us </a></li>
                    <li><a href="contact.html" class="">Contact</a></li>
                    <li><a href="blog.html" class="">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
