<!--================= main start ================-->
<div id="main">
    <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
    <!--=============== header ===============-->	
    <%= render 'shared/header'  %>
    <!--=============== wrapper ===============-->	
    <div id="wrapper">
        <div class="content-holder elem scale-bg2 transition3" >
            <div class="content full-height">
	<!--=============== Change the value data-mwa="0" - at your in milliseconds. If you put a value of 0 - the function to turn off autoplay  ===============-->
                <div class="swiper-container" id="horizontal-slider" data-mwc="1" data-mwa="0">
                    <div class="swiper-wrapper">
                        <!--=============== 1 ===============-->	
                        <% [1].each do |portfolio|  %>
                          <div class="swiper-slide">
                              <div class="bg" style="background-image:url(<%= asset_path("background.jpg") %>)"></div>
                              <div class="overlay"></div>
                              <div class="slide-title-holder">
                                  <div class="slide-title">
                                      <h3 class="transition">
                                          <%= link_to "Our Projects ...", '/projects'  %>
                                      </h3>
                                  </div>
                              </div>
                          </div>
                        <% end  %>
                        <!--=============== 2 ===============-->	
                    </div>
                </div>
                <div class="pagination"></div>
            </div>
        </div>
    </div>
    <!-- wrapper end -->
</div>
<!-- Main end -->
