<!--================= main start ================-->
<div id="main">
    <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
    <!--=============== header ===============-->	
    <header>
        <div class="header-inner">
            <div class="logo-holder">
                <a href="index.html" class="ajax"><img src="<%= asset_path('logo.png') %>" alt=""></a>
            </div>
            <div class="nav-button-holder">
                <div class="nav-button vis-m"><span></span><span></span><span></span></div>
            </div>
            <div class="nav-holder">
                <nav>
                    <ul>
                        <li><a href="index.html" class="ajax act-link">Home</a></li>
                        <li><a href="portfolio.html" class="ajax pp">Projects</a></li>
                        <li><a href="about.html" class="ajax pa">About us </a></li>
                        <li><a href="contact.html" class="ajax">Contact</a></li>
                        <li><a href="blog.html" class="ajax">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--=============== wrapper ===============-->	
    <div id="wrapper">
        <div class="content-holder elem scale-bg2 transition3" >
            <div class="content full-height">
	<!--=============== Change the value data-mwa="0" - at your in milliseconds. If you put a value of 0 - the function to turn off autoplay  ===============-->
                <div class="swiper-container" id="horizontal-slider" data-mwc="1" data-mwa="0">
                    <div class="swiper-wrapper">
                        <!--=============== 1 ===============-->	
                        <div class="swiper-slide">
                            <div class="bg" style="background-image:url(https://mondaycareer.com/wp-content/uploads/2020/11/background-%C4%91%E1%BA%B9p-1.jpg)"></div>
                            <div class="overlay"></div>
                            <div class="slide-title-holder">
                                <div class="slide-title">
                                    <h3 class="transition">  <a class="ajax transition2" href="portfolio-single.html">Blandit praesent</a>  </h3>
                                    <h4>Ut wisi enim ad minim veniam, quis nostrud exerci</h4>
                                </div>
                            </div>
                        </div>
                        <!--=============== 2 ===============-->	
                        <div class="swiper-slide">
                            <div class="bg" style="background-image:url(https://mondaycareer.com/wp-content/uploads/2020/11/background-%C4%91%E1%BA%B9p.jpg)"></div>
                            <div class="overlay"></div>									
                            <div class="slide-title-holder">
                                <div class="slide-title">
                                    <h3 class="transition">  <a class="ajax transition2" href="portfolio-single.html">In tortor neque</a>  </h3>
                                    <h4>Ut wisi enim ad minim veniam, quis nostrud exerci</h4>
                                </div>
                            </div>
                        </div>
                        <!--=============== 3 ===============-->	
                        <div class="swiper-slide">
                            <div class="bg" style="background-image:url(https://mondaycareer.com/wp-content/uploads/2020/11/background-%C4%91%E1%BA%B9p-2.jpg)"></div>
                            <div class="overlay"></div>
                            <div class="slide-title-holder">
                                <div class="slide-title">
                                    <h3 class="transition">  <a class="ajax transition2" href="portfolio-single.html">Vestibulum tincidunt</a>  </h3>
                                    <h4>Ut wisi enim ad minim veniam, quis nostrud exerci</h4>
                                </div>
                            </div>
                        </div>
                        <!--=============== 4 ===============-->	
                        <div class="swiper-slide">
                            <div class="bg" style="background-image:url(https://mondaycareer.com/wp-content/uploads/2020/11/background-%C4%91%E1%BA%B9p-5.jpg)"></div>
                            <div class="overlay"></div>
                            <div class="slide-title-holder">
                                <div class="slide-title">
                                    <h3 class="transition">  <a class="ajax transition2" href="portfolio-single.html">Libero bibendum</a>  </h3>
                                    <h4>Ut wisi enim ad minim veniam, quis nostrud exerci</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-nav-holder hor">
                        <a class="swiper-nav arrow-left transition " href="#"><i class="fa fa-long-arrow-left"></i></a>
                        <a class="swiper-nav  arrow-right transition" href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="pagination"></div>
            </div>
        </div>
    </div>
    <!-- wrapper end -->
</div>
<!-- Main end -->
